.button {
  display: block;
  width: max-content;
  padding: 0.8rem 1.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.15s;
  
  @include breakpoint(medium) {
    font-size: 1rem;
    padding: 1.1rem 2.75rem;
  }
  
  &--icon {
    padding: 1.25rem;
  }
  
  &--black {
    color: $clr-neutral-white;
    background-color: $clr-neutral-black;
    
    &:hover {
      background-color: $clr-primary-color-purple;
    }
  }

  &--orange {
    color: $clr-neutral-white;
    background-color: $clr-primary-color-orange;

    &:hover {
      background-color: $clr-primary-color-yellow;
    }
  }
}