.book-call {
  grid-area: 4/2;
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  padding: 3rem 1.5rem;
  text-align: center;
  font-weight: 500;
  color: $clr-neutral-white;
  background-color: $clr-neutral-black;
  border-radius: 0.625rem;

  @include breakpoint(medium) {
    gap: 1.75rem;
    padding: 3rem 5rem;
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 8rem;
    padding: 5rem;
    text-align: left;
  }

  &__text {
    display: grid;
    gap: 1.5rem;

    @include breakpoint(medium) {
      gap: 1.75rem;
    }
  }
}