// Colors

// Main Colors

// Primary Colors
$clr-primary-color-purple: #755CDE;
$clr-primary-color-yellow: #F6A560;
$clr-primary-color-pink: #F39E9E;
$clr-primary-color-orange: #EB7565;
$clr-primary-color-cyan: #61C4B7;
$clr-primary-color-maroon: #552049;

// Neutrals
$clr-neutral-white: #FFF7F0;
$clr-neutral-grey: #7A746E;
$clr-neutral-black: #030303;
